[Unit]
Description=OpenCode server
After=default.target

[Service]
Type=simple
ExecStart=%h/.local/bin/opencode-server.fish
Restart=on-failure
RestartSec=2
Environment=OP_ACCOUNT={{ .op_account }}
Environment=BASH_ENV={{ .chezmoi.homeDir }}/.config/opencode/fnm-init.sh
Environment=OPENCODE_EXPERIMENTAL_OXFMT=true

[Install]
WantedBy=default.target
